# Association Rules for My Movies

In [ ]:
#!pip install mlxtend

In [3]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
#from mlxtend.preprocessing import OnehotTransactions

In [4]:
my_movies = pd.read_csv("C:\\ExcelR\\Data Science Assignments\\9-Association Rules\\my_movies.csv")

In [5]:
my_movies

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [6]:
my_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   V1             10 non-null     object
 1   V2             10 non-null     object
 2   V3             7 non-null      object
 3   V4             2 non-null      object
 4   V5             1 non-null      object
 5   Sixth Sense    10 non-null     int64
 6   Gladiator      10 non-null     int64
 7   LOTR1          10 non-null     int64
 8   Harry Potter1  10 non-null     int64
 9   Patriot        10 non-null     int64
 10  LOTR2          10 non-null     int64
 11  Harry Potter2  10 non-null     int64
 12  LOTR           10 non-null     int64
 13  Braveheart     10 non-null     int64
 14  Green Mile     10 non-null     int64
dtypes: int64(10), object(5)
memory usage: 1.3+ KB

In [7]:
df=pd.get_dummies(my_movies)
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [8]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...
1393      0.1  (V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...
1394      0.1  (V3_Harry Potter1, V5_LOTR2, Green Mile, V4_Gr...
1395      0.1  (V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...
1396      0.1  (V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...

[1397 rows x 2 columns]

In [9]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
...,...,...,...,...,...,...,...,...,...
64247,(V4_Green Mile),"(V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(LOTR2),"(V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(Sixth Sense),"(V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
64250,(Harry Potter1),"(V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(V1_Sixth Sense),"(V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

In [10]:
rules.sort_values('lift',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(V3_Harry Potter1, LOTR2, Sixth Sense, LOTR1)","(Green Mile, V5_LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33437,"(LOTR2, Harry Potter1, V4_Green Mile)","(V5_LOTR2, Sixth Sense, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33415,"(V5_LOTR2, Sixth Sense, V4_Green Mile)","(LOTR2, Harry Potter1, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33416,"(V5_LOTR2, Harry Potter1, V4_Green Mile)","(LOTR2, Sixth Sense, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33417,"(V5_LOTR2, LOTR2, Sixth Sense)","(V4_Green Mile, Harry Potter1, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33418,"(V5_LOTR2, LOTR2, Harry Potter1)","(V4_Green Mile, Sixth Sense, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33419,"(V5_LOTR2, Sixth Sense, Harry Potter1)","(V4_Green Mile, LOTR2, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33420,"(V4_Green Mile, LOTR1, V2_LOTR1)","(V5_LOTR2, LOTR2, Sixth Sense, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33421,"(LOTR2, LOTR1, V2_LOTR1)","(V5_LOTR2, Sixth Sense, V4_Green Mile, Harry P...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33422,"(Sixth Sense, LOTR1, V2_LOTR1)","(V5_LOTR2, LOTR2, Harry Potter1, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [11]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(V3_Harry Potter1, LOTR2, Sixth Sense, LOTR1)","(Green Mile, V5_LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33437,"(LOTR2, Harry Potter1, V4_Green Mile)","(V5_LOTR2, Sixth Sense, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33415,"(V5_LOTR2, Sixth Sense, V4_Green Mile)","(LOTR2, Harry Potter1, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33416,"(V5_LOTR2, Harry Potter1, V4_Green Mile)","(LOTR2, Sixth Sense, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33417,"(V5_LOTR2, LOTR2, Sixth Sense)","(V4_Green Mile, Harry Potter1, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33418,"(V5_LOTR2, LOTR2, Harry Potter1)","(V4_Green Mile, Sixth Sense, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33419,"(V5_LOTR2, Sixth Sense, Harry Potter1)","(V4_Green Mile, LOTR2, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33420,"(V4_Green Mile, LOTR1, V2_LOTR1)","(V5_LOTR2, LOTR2, Sixth Sense, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33421,"(LOTR2, LOTR1, V2_LOTR1)","(V5_LOTR2, Sixth Sense, V4_Green Mile, Harry P...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33422,"(Sixth Sense, LOTR1, V2_LOTR1)","(V5_LOTR2, LOTR2, Harry Potter1, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33423,"(Harry Potter1, LOTR1, V2_LOTR1)","(V5_LOTR2, LOTR2, Sixth Sense, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33424,"(V4_Green Mile, LOTR2, LOTR1)","(V5_LOTR2, Sixth Sense, Harry Potter1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33425,"(V4_Green Mile, Sixth Sense, LOTR1)","(V5_LOTR2, LOTR2, Harry Potter1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33426,"(V4_Green Mile, Harry Potter1, LOTR1)","(V5_LOTR2, LOTR2, Sixth Sense, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33427,"(LOTR2, Sixth Sense, LOTR1)","(V5_LOTR2, Harry Potter1, V4_Green Mile, V2_LO...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33428,"(LOTR2, Harry Potter1, LOTR1)","(V5_LOTR2, Sixth Sense, V4_Green Mile, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33429,"(Sixth Sense, LOTR1, Harry Potter1)","(V5_LOTR2, LOTR2, V4_Green Mile, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33430,"(LOTR2, V4_Green Mile, V2_LOTR1)","(V5_LOTR2, Sixth Sense, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33431,"(Sixth Sense, V4_Green Mile, V2_LOTR1)","(V5_LOTR2, LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33432,"(Harry Potter1, V4_Green Mile, V2_LOTR1)","(V5_LOTR2, LOTR2, Sixth Sense, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [14]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
6,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
7,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
10,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
...,...,...,...,...,...,...,...,...,...
64247,(V4_Green Mile),"(V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(LOTR2),"(V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(Sixth Sense),"(V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
64250,(Harry Potter1),"(V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(V1_Sixth Sense),"(V3_Harry Potter1, V5_LOTR2, Green Mile, LOTR1...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80